[Unit]
Description=Breakerbox-Postgres Docker Container
Requires=docker.service
After=docker.service

[Service]
TimeoutStartSec=0
ExecStartPre=-/usr/bin/docker kill breakerbox-postgres
ExecStartPre=-/usr/bin/docker rm breakerbox-postgres
ExecStartPre=-/usr/bin/docker network create {{ breakerbox_docker_container_network }}
ExecStart=/usr/bin/docker run --name breakerbox-postgres \
                --network {{ breakerbox_docker_container_network }} \
                --log-driver json-file \
                --log-opt max-size=1g \
                -v '{{ breakerbox_postgresql_data_dir }}:/var/lib/postgresql/data' \
                -e 'POSTGRES_DB=breakerbox' -e 'POSTGRES_PASSWORD={{ breakerbox_database_password }}' \
                -e 'POSTGRES_USER={{ breakerbox_database_user }}'\
                postgres:{{ breakerbox_postgresql_version }}
Restart=on-failure
RestartSec=10s

[Install]
WantedBy=multi-user.target
