breakerbox:
  urls: http://localhost:8080/archaius/breakerbox
  initialDelay: 0s
  delay: 60s
  #urls: file:conf/config.properties,http://localhost:8080/archaius/breakerbox


database:
  driverClass: {{ breakerbox_database_driver_class }}
  url: {{ breakerbox_database_url }}
  user: {{ breakerbox_database_user }}
  password: {{ breakerbox_database_password }}
  maxSize: 10
  minSize: 2
  checkConnectionWhileIdle: true
  validationInterval: 30s

tenacityClient:
  connectionTimeout: 500ms
  timeout: 1000ms

{% if breakerbox_docker_archaius_override %}
archaiusOverride:
{% for key,value in breakerbox_docker_archaius_override.iteritems() %}
  {{ key }}: {{ value }}
{% endfor %}
{% endif %}

defaultDashboard: {{ breakerbox_docker_default_dashboard }} 

turbine: /opt/conf/instances.yml

server:
  applicationConnectors:
    - type: http
      port: {{ breakerbox_docker_app_port }}
  adminConnectors:
    - type: http
      port: {{ breakerbox_docker_admin_port }}
  gzip:
    enabled: false

logging:
  level: {{ breakerbox_docker_logging_level }}
  appenders:
    - type: console

##metaClusters:
##  - production
