#!/usr/bin/env bash
docker run -it -e 'PGPASSWORD={{ breakerbox_database_password }}' --rm --network {{ breakerbox_docker_container_network }} postgres:{{ breakerbox_postgresql_version }} psql -U {{  breakerbox_database_user }} -h breakerbox-postgres $@
